@font-face {
    font-family: "font1";
    src: url(./font1.ttf);
}

@font-face {
    font-family: "font2";
    src: url(./font2.otf);
}

/* app.js*/
body {
    padding: 0;
    margin: 0;
}

@keyframes bganimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


/*app.js*/
a {
    text-decoration: none;

}


@media (min-width:500px) {}

@media (min-width:640px) {}

@media (min-width:768px) {}

@media (min-width:992px) {}

@media (min-width:1000px) {


    /*app.js*/
    #root {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;

    }

    html,
    body {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
    }

    .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        height: 100%;
        
    }

    .wrapper_left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30%;
        background: bisque;
        height: 100%;
        overflow: hidden;

    }

    .wrapper_left .content {
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

        .wrapper_left .webname {
            margin-bottom: 80PX;
            font-size: 25PX;
            color: #66806A;
            font-family: "font1";
            height: 20%;
            vertical-align: middle;
            line-height: 80px;

        }

    .stufflist {
        margin: 60PX 0;
        height: 40%;
        overflow: hidden;
    }

    .stufflist .title {
        font-size: 20px;
        font-family: "font1";
        height: 10%;
    }

    .stufflist li {
        font-family: "font1";
        margin: 10px 0;
        color: #533535;
        height: 5%;
    }

    .wrapper_right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70%;
        height: 100%;
        overflow: hidden;
        background-image: linear-gradient(120deg, #005aa7, #fffde4);
        background-size: 500%;
        animation: bganimation 15s infinite;

    }

    .wrapper_right .rightcontainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 50%;
        width: 80%;

    }

    .createfunctions,
    .managefunctions {
        height: 80%;
        width: 40%;
        margin: 0 20px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
    }

    .create {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 20px;
        height: 15%;
        width: 30%;
        font-size: 15px;
        background: rgba(255, 255, 255, .4);
        border-radius: 10px;

    }

    .manage {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 20px;
        height: 15%;
        width: 30%;
        height: 15%;
        font-size: 15px;
        background: rgba(255, 255, 255, .4);
        border-radius: 10px;

    }

    .create a,
    .manage a {

        color: rgba(39, 60, 117, 1.0);
        font-weight: bold;
        text-align: center;

        display: block;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 13px;
    }

    /*managecourse*/
    .submitwrapper {
        background-image: linear-gradient(125deg, #FEA47F, #82589F);
        background-size: 400%;
        animation: bganimation 15s infinite;
        width: 70%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }
.cssubmitwrapper{
    height: 1078px;
   
}
    .submitwrapper .createcon {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
    }

    .submitwrapper .createcon .title {
        font-size: 50px;
        font-family: "font2";
        margin-bottom: 50px;
    }

    .createcon form {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, .2);
        border-radius: 10px;
        padding: 20px;

    }


    .createcon form .form-group .subname,
    .createcon form .form-group .subcredit {
        height: auto;
        margin: 30px 0;

    }

    .createcon form .form-group .labelname {
        font-family: 'font2';
        font-size: 15px;
        width: 70px;
        display: inline-block;
        text-align: center;
        margin: 0 20px;
        color: #1E3163;
        font-weight: bold;
    }

    .createcon form .form-group input {
        margin: 0 20px;
        background: none;
        outline: none;
        border: none;
        background: rgba(255, 255, 255, .2);
        padding: 10px 20px;
        border-radius: 10px;

    }

    .createcon form button {
        display: inline-block;
        background: none;
        outline: none;
        border: none;
        border-radius: 5px;
        color: white;
        background: rgba(56, 163, 165, .4);
        background: #3B3B98;
        padding: 10px 100px;
        font-family: "font2";
        margin-top: 20px;
        margin: 10px 0;

    }

    .createcon form .err-msgs,
    .createcon form .suc-msgs {

        color: black;
        font-weight: bold;
    }



    /*managestudent*/
    .mscontainer{
        display: flex;
        flex-direction: row;
    }
    .ms_left{
        height: 1078px;
        background-image: linear-gradient(160deg, #00467f, #a5cc82);
        width: 30%;
    }
    .ms_left .content{
        margin-top: 150px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .ms_left .content .webname {
        display: flex;
       
        justify-content: center;
        align-items: center;
        display: block;
        color: white;
        height: 100px;
        width: 100%;
    }
    .ms_left .content .webname a{
        text-align: center;
        display: block;
        color: white;
        width: 100%;
        height: 100%;
        margin-bottom: 80PX;
            font-size: 25PX;
         
            font-family: "font1";
            
            
    }
    
   
   
    .cssubmitwrapper {
        background-image: linear-gradient(120deg, #373b44, #4286f4);
        background-size: 500%;
        background-image: linear-gradient(120deg, #2ebf91, #dd3e54);
        background-size: 500%;
        animation: bganimation 15s infinite;
        justify-content: initial;
    }

    .cscon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 180px;
    }

    .cscon .title {
        width: 200px;
        font-size: 50px;
        font-family: "font2";
        margin-bottom: 50px;
        text-align: center;
        

    }

    .form-group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .form-group>div {
        margin: 0px 0;
    }

    .form-group-up {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .form-group-up>div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 0px;
    }

    .up-left {
        background: rgba(255, 255, 255, .2);
        border-radius: 10px;
        padding: 20px;
    }

    .up-left>div {
        height: 34px;
        display: flex;
        flex-direction: row;
        width: 95%;
        margin: 10px 0;
    }

    .up-left>div label {
        line-height: 34px;

        font-size: 15px;
        width: 25%;
        display: inline-block;
        text-align: center;
        margin: 0 20px;
        color: #1E3163;
        font-weight: bold;
    }

    .up-left input,
    .up-right input,
    .up-left select {
        width: 30%;
        margin: 0 20px;
        background: none;
        outline: none;
        border: none;
        background: rgba(255, 255, 255, .2);
        padding: 10px 20px;
        border-radius: 10px;

    }

    .up-left select {
        width: 43%;
    }

    .up-right {
        /* background: rgba(255, 255, 255, .2); */
        border-radius: 10px;
        padding: 20px;

    }

    .up-right>div label {
        text-align: center;
        font-size: 10px;
        display: inline-block;
        margin: 10px 0;
        color: #1E3163;
        font-weight: bold;
    }

    .up-right .subcourse {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 70%;
        margin-bottom: 10px;
    }

    .up-right tags {
        width: 70%;
    }

    .up-right .nocoursetip {
        background: rgba(255, 255, 255, .2);

        border-radius: 10px;
        padding: 10px;

        text-align: center;



    }

    .up-right .tiptext {
        color: rgba(45, 52, 54, 1.0);
    }

    .up-right a {
        color: wheat;
    }

    .form-group-down button {
        display: inline-block;
        background: none;
        outline: none;
        border: none;
        border-radius: 5px;
        color: white;
        background: rgba(56, 163, 165, .4);
        background: #3B3B98;
        padding: 10px 100px;
        font-family: "font2";
        margin-top: 20px;
        margin: 10px 0;

    }

    .form-group-down .err-msgs,
    .form-group-down .suc-msgs {
        display: block;
        margin: 0 auto;
        text-align: center;
        color: #3B3B98;
        font-weight: bold;

    }


    /*管理课程*/

    .courses_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70%;
        height: 100%;
        overflow: hidden;
        background-image: linear-gradient(120deg, #2980b9, #2c3e50);
        background-size: 400%;
        animation: bganimation 15s infinite;

    }

    .allcoursecon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .allcoursescon .title {
        text-align: center;
        color: white;
        font-size: 50px;
        font-family: "font2";
        margin-bottom: 50px;

    }

    .allcoursescon .allcourses {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }

    .allcourses .seqlist,
    .allcourses .courseslist {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 10px;
    }

    .allcourses .courseslist {
        align-items: initial;
        height: 240px;

        overflow: hidden;

    }

    .allcourses .seqlist .stitle,
    .allcourses .courseslist .ctitle {
        color: wheat;
        font-size: 15px;
        font-family: "font1";
    }

    .allcourses .seqlist .seqnum {
        color: rgba(199, 236, 238, 1.0);
        font-size: 15px;
        margin: 5px 0;
        background-color: rgba(255, 255, 255, .2);
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        border-radius: 50%;
        font-family: "font2";

    }

    .allcourses .courseslist .coursename a {

        color: rgba(199, 236, 238, 1.0);
        font-size: 20px;
        text-align: left;
        font-family: "font2";
        height: 30px;
        display: block;
        line-height: 30px;



    }

    .allcourses .courseslist .coursename {

        margin: 5px 0;
        height: 30px;
        text-align: left;


    }

    .allcoursescon .pagebox {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .allcoursescon .pagebox>div {
        font-size: 20px;
        margin: 20px 20px;
    }

    .allcoursescon .pagebox .iconfont {
        font-size: 30px;

    }

    .nocoursecon .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .nocoursecon .content .tip{
        font-size: 30px;
        font-family: "font2";
        color: whitesmoke;
    }
    .nocoursecon .content a{
        display: block;
        margin: 30px 0;
        font-size: 20px;
        font-family: "font2";
        color: #c7ecee;
        background-color: rgba(255, 255, 255, .2);
        padding: 10px 20px;
        border-radius: 10px;
    }





    /*viewcourses*/
    .course_left{
        background-image: linear-gradient(160deg, #00467f, #a5cc82);
        background-size: 400%;
        animation: bganimation 15s infinite;

    }
    .course_left .content .webname a{
        color: white;
    }
    .courseinfowrapper{
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 100%;
        overflow: hidden;
        background-image: linear-gradient(160deg, #283c86, #45a247);
        background-size: 400%;
        animation: bganimation 15s infinite;

    }
.courseinfocon{
    width: 90%;
}

    .courseinfocon .up{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 150px;
        position: relative;
        font-size: 45px; 
    }
    .courseinfocon .up .updatecourse{
        margin: 0 5px;
        padding: 5px;
        border: none;
        font-size: 10px;
        color: rgba(12, 36, 97,1.0);
         background-color: rgba(56, 173, 169,.5);
         border-radius: 4px;
        
    }
    .courseinfocon .up .functions{
        margin-left: 400px;
    }
    .courseinfocon .up .deletecourse{
        margin: 0 5px;
        padding: 5px;
        border: none;
        font-size: 10px;
        color: rgba(12, 36, 97,1.0);
         background-color: rgba(229, 80, 57,.3);
         border-radius: 4px;
    
    }
    .courseinfocon .up:after{
        position: absolute;
         bottom: 30px;
         left: 50px;
         right: 1px;
         height: 1px;
         width: 700px;
         content: '';
         -webkit-transform: scaleY(.5);
         transform: scaleY(.5);
         background-color: rgba(202, 211, 200,1.0);       
    
    }
    .basicinfo {
        overflow: hidden;
      
    }
    .courseinfocon .title{
        margin-left: 50px;
        font-family: "font2";
        color: rgba(223, 249, 251,1.0);
        
    }
    .basicinfo .title{
    
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 20px;
        
    }
    .basicinfo .iconfont{
        font-size: 18px;
        margin-right: 10px;
        
    }
    .studentscon,
    .errcon
    {
        margin-top: 20px;
        margin-left: 50px;
        width: 75%;
        padding: 10px 30px;
        background: rgba(199, 236, 238,.4);
        border-radius: 2px;
        display: flex;
        flex-direction: row;
    }
    .eachs{
        padding: 4px;
        margin: 0 5px;
        border-radius: 2px;
        background: rgba(223, 228, 234,.6);
    
    }
    .infonotused{
        text-align: center;
        margin: 90px;
        font-size: 30px;
        font-weight: bold;
    }


    /*updatecourse*/
   
 
   
    .courseinfowrapper .submitcon{
        margin:  0 auto;
        width: 50%;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .courseinfowrapper .submitcon form{
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(149, 165, 166,.5);
        border-radius: 10px;
        padding: 20px;
    
    }
    .courseinfowrapper .submitcon form .form-group .subname,
    .courseinfowrapper .submitcon form .form-group .subcredit{
        margin: 30px 0;
    
    }
    .courseinfowrapper .submitcon form .form-group .labelname{
        font-family: 'font2';
        font-size: 15px;
        width: 70px;
        display: inline-block;
        text-align: center;
        margin: 0 20px;
        color: #1E3163;
        font-weight: bold;
    }
    
    .courseinfowrapper .submitcon form .form-group input{
        margin: 0 20px;
        background:none;  
        outline:none;  
        border:none;
        background: rgba(255, 255, 255, .5);
        padding: 10px 20px;
        border-radius: 10px;
        
    }
    .courseinfowrapper .submitcon form button{
        display: inline-block;
        background:none;  
        outline:none;  
        border:none;
        border-radius: 5px;
        color: white;
        background: rgba(56,163,165,.4);
        background: #3B3B98;
        padding: 10px 100px;
        font-family: "font2";
        margin-top: 20px;
        margin: 10px 0;
    
    }
    .courseinfowrapper .submitcon form .err-msgs,
    .courseinfowrapper .submitcon form .suc-msgs{
       
        color: black;
        font-weight: bold;
    }
    .nodate{
        font-size: 30px;
        font-family: "font2";
        text-align: center;
        margin-top: 200px;
    }
    
}