@font-face {
    font-family: "font1";
    src: url(./font1.ttf);
}

@font-face {
    font-family: "font2";
    src: url(./font2.otf);
}

@font-face {
    font-family: "font3";
    src: url(./static/font3.ttf);
}

@font-face {
    font-family: "font4";
    src: url(./static/font4.otf);
}

/* app.js*/
body {
    padding: 0;
    margin: 0;
}

@keyframes bganimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


/*app.js*/
a {
    text-decoration: none;

}


@media (max-width:1000px) {

    /*app.js*/
    .nofun{
        font-size: 40px;
        font-family: 'font4';
    }

.logincontainer{
   
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginwrapper{
    padding: 20px 10px;
    width: 400px;
    height: 250px;
    background: #5587763c;
}
.loginwrapper form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loginwrapper form .form-group{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.loginwrapper form .form-group .uname,
.loginwrapper form .form-group .uname {
    width: 90%;
    height: 20%;
    margin: 10px 0;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


}

.loginwrapper form .form-group .labelname {
    font-family: 'font4';
    font-size: 15px;
    width: 25%;
    display: inline-block;
    text-align: center;
    margin: 0 20px;
    color: #1E3163;
    font-weight: bold;
}

.loginwrapper form .form-group input {
    width: 40%;
    margin: 0 5px;
    background: none;
    outline: none;
    border: none;
    background: #55877627;
    padding: 10px 5px;
    border-radius: 10px;

}

.loginwrapper form button {
    width: 80%;
    height: 30px;
    line-height: 30px;
    display: block;
    outline: none;
    border: none;
    border-radius: 5px;
    color: white;
    background: #3B3B98;
    font-family: "font4";
    margin: 20px 0;
    font-size: 15px;

}

.loginwrapper form .err-msgs,
.loginwrapper form .suc-msgs {

    color: black;
    font-weight: bold;
}

.logincontainer form .form-group .utype{
    width: 90%;
    height: 20%;
    margin: 10px 0;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.logincontainer form .form-group .utype .option{
    width: 20%;
    margin: 0 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.optionname{
    font-family: 'font4';
    font-size: 15px;
    color: #064635;
}

    .topconatiner {
        position: relative;

        height: 700px;
        background: url('./static/pic1.png') no-repeat 50% 50%;

    }

    .topconatiner .downblock {
        position: absolute;
        background: rgba(255, 255, 255, 0.6);
        height: 250px;
        width: 700px;
        bottom: 0;
        left: 50%;
        margin-left: -350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.2 ease-in;

    }

    .topconatiner .downblock>div {
        margin: 15px 0;

    }

    .topconatiner .downblock .pname {
        font-size: 50px;
        font-family: 'font4';
        color: #192a56;


    }

    .downblock .pperson {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }

    .downblock .per {
        margin: 0 10px;
        font-family: 'font3';
        font-size: 15px;

    }

    .nocourse a {
        text-decoration: none;
        display: block;
        color: #273c75;
        font-size: 15px;
        font-family: 'font4';

    }

    .nocourse,
    .havecourse {
        padding: 10px 20px;
        border: 1px #273c75 solid;

    }

    .havecourse {
        border: none;
        color: #273c75;
        font-size: 15px;
        font-family: 'font4';
        background: #C7B198;

    }


    .midwrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        border: 1px solid rgba(220, 221, 225, .8);
        width: 70%;
        height: 500px;
        margin: 50px auto;
        overflow: hidden;
        position: relative;
    }

    .midwrapper>div {

        background: white;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 33.3%;


    }

    .midwrapper>div .intro {
        width: 20%;
        text-align: center;
        color: rgba(127, 143, 166, .8);

    }

    .midwrapper>div .title {
        font-size: 50px;
        font-family: 'font4';
        color: rgba(64, 115, 158, 1.0);
    }

    .midwrapper>div .func {
        padding: 10px 20px;
        background: rgba(39, 60, 117, 1.0);
    }

    .midwrapper>div .func a {
        display: block;
        color: white;
        font-size: 15px;
        font-family: 'font3';
        background: rgba(39, 60, 117, 1.0);
    }

    .midwrapper>div>div {
        margin: 0px 20px;
    }

    .midwrapper .students,
    .midwrapper .classes {
        border-bottom: 1px solid rgba(220, 221, 225, .8);
    }

    .downcontainer {
        height: 500px;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* background-image: url('./static/pic12.png'); */
        background: #F0ECE3;
    }

    .downcontainer .aboutus {
        font-size: 40px;
        font-family: 'font4';
        color: #C7B198;

    }

    .downcontainer .info {
        width: 30%;
        font-size: 13px;
        line-height: 25px;
        color: #A68DAD;
        margin-top: 40px;


    }


    /*mc*/
    .cswrapper {
        height: 100vh;
        overflow: hidden;
        margin: 0;
        box-sizing: border-box;
    }

    .mccon {
        padding: 0;
        margin: 0;
        height: 100%;
        position: relative;
        overflow: hidden;
    }

    .mccon .titlecon .nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 70%;
        overflow: hidden;

    }

    .mccon .titlecon .title {
        overflow: hidden;
        width: 20%;
        font-size: 40px;
        font-family: "font4";
        color: #064635;

    }

    .mccon .titlecon .nav .func {
        width: 30px;

        margin: 0 25px;
    }

    .mccon .titlecon .nav .this {
        border-bottom: 2px solid black;

    }

    .mccon .titlecon .nav .func a {
        display: block;
        color: #2E4C6D;
        font-family: "font4";
        font-size: 15px;
    }

    .mccon .titlecon .nav .this a {
        color: #AE431E;

    }

    .mccon .titlecon {
        width: 100vw;
        background: #E1E5EA;
        height: 20%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }

    .submitwrapper {
        height: 50%;
    }

    .createcon {
        margin: 0 auto;
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;

    }
    .submitwrapper {
        margin-top: 100px;
        height: 50%;
    }

    .createcon {
        margin: 0 auto;
        width: 600px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: relative;

    }

    .createcon form {
        width: 50%;
        background: white;
        box-shadow: -1px -1px 24px rgba(255, 255, 255, .8), 12px 12px 24px rgba(0, 6, 39, .2);
        border-radius: 10px;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        padding: 0 20px;
        overflow: hidden;


    }

    .createcon form .form-group {
        width: 100%;
    }


    .batchupload {
        height: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 10px;
        padding: 20px;



    }

    .batchupload .tips {
        margin: 20px 0;
        font-size: 20px;
        font-family: 'font4';
        color: #C7B198;
    }

    .batchupload .uploadbtn {
        padding: 5px 10px;
        background: #00ad2d;
        border: 1px solid #00ad2d;
        position: relative;
        color: #fff;
        border-radius: 2px;
        text-align: center;
        float: left;
        cursor: pointer;
        border-radius: 10px;
    }

    .batchupload .hide_file {
        position: absolute;
        z-index: 1000;
        opacity: 0;
        cursor: pointer;
        right: 0;
        top: 0;
        height: 100%;
        font-size: 24px;
        width: 100%;

    }


    .createcon form .form-group .subname,
    .createcon form .form-group .subcredit {
        height: 30%;
        margin: 30px 0;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;


    }

    .createcon form .form-group .labelname {
        font-family: 'font4';
        font-size: 15px;
        width: 25%;
        display: inline-block;
        text-align: center;
        margin: 0 20px;
        color: #1E3163;
        font-weight: bold;
    }

    .createcon form .form-group input {
        width: 40%;
        margin: 0 5px;
        background: none;
        outline: none;
        border: none;
        background: #F0ECE3;
        padding: 10px 5px;
        border-radius: 10px;

    }

    .createcon form button {
        width: 80%;
        height: 30px;
        line-height: 30px;
        display: inline-block;
        outline: none;
        border: none;
        border-radius: 5px;
        color: white;
        background: #3B3B98;
        font-family: "font4";
        margin: 20px 0;
        font-size: 15px;

    }

    .createcon form .err-msgs,
    .createcon form .suc-msgs {

        color: black;
        font-weight: bold;
    }

    .mccon .buttomblock {
        width: 100%;
        background: #04293A;
        height: 70px;
        position: absolute;
        bottom: 0;
    }



    /*courses*/

    .courses_wrapper {
        height: 100vh;
        overflow: hidden;
        margin: 0;
        box-sizing: border-box;
    }

    .allcoursescon {
        padding: 0;
        margin: 0;
        height: 100%;
        position: relative;
        overflow: hidden;
    }

    .allcoursescon .titlecon .nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 70%;
        overflow: hidden;

    }

    .allcoursescon .titlecon .title {
        overflow: hidden;
        width: 20%;
        font-size: 40px;
        font-family: "font4";
        color: #064635;

    }

    .allcoursescon .titlecon .nav .func {
        width: 30px;

        margin: 0 25px;
    }

    .allcoursescon .titlecon .nav .this {
        border-bottom: 2px solid black;

    }

    .allcoursescon .titlecon .nav .func a {
        display: block;
        color: #2E4C6D;
        font-family: "font4";
        font-size: 15px;
    }

    .allcoursescon .titlecon .nav .this a {
        color: #AE431E;

    }

    .allcoursescon .titlecon {
        width: 100vw;
        background: #E1E5EA;
        height: 20%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }
    
    .allcoursescon .allcourses {
        height: 64%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

   

    .allcourses .courseslist {
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        overflow: hidden;


    }

    .allcourses .courseslist .eachcourse {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0 10px;
        width: 40%;
        height: 18%;
        background-image: url('./static/ec.png');
        background-size: cover;
        position: relative;
        box-shadow: -12px -12px 24px rgba(255, 255, 255, .8), 12px 12px 24px rgba(0, 6, 39, .1);
        overflow: hidden;
    }


    .allcourses .courseslist .eachcourse .mask {
        position: absolute;
        top: 90px;
        left: 0;
        content: '';
        width: 100%;
        height: 100%;
        background: rgba(101, 101, 101, 0.3);
        opacity: 0;
    }

    .allcourses .courseslist .eachcourse:hover .mask {
        top: 0;
        opacity: 1;
        transition: all 0.3s ease-out;
    }

    .allcourses .courseslist .eachcourse a {

        color: #22577E;
        font-size: 20px;
        font-family: 'font4';
        z-index: 2;
        width: 300px;
        height: 160px;
        display: block;
        line-height: 160PX;


    }

    .allcoursescon .buttomblock {
        
        width: 100%;
        background: #04293A;
        margin-top: 20px;
        height: 70px;
        bottom: 0;

    }

    .allcoursescon .pagebox {

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 30px 0;
    }

    .allcoursescon .pagebox>div {
        color: #192a56;
        margin: 0 20px;
        font-size: 20px;
    }

    /*viewcourse*/
    .topnav {
        height: 10vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        background: white;
        padding: 0 40px;
    }

    .topnav .topblock {
        width: 20px;
        height: 20px;
        background: #22577E;
    }

    .topnav>div {
        margin: 0 15px;
    }

    .topnav>div a {
        display: block;
        text-decoration: none;
        font-family: 'font4';
        color: #273c75;
        font-size: 15px;
        transition: all 0.2s ease-in;
    }

    .topnav>div a:hover {
        color: #AE431E;
    }

    .courseinfowrapper {
        height: 80vh;
        overflow: hidden;
        background: linear-gradient(to right, rgba(230, 218, 206) 0%, rgba(230, 218, 206) 40%, white 40%, white 100%);
    }

    .courseinfocon {
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .courseinfocon .left {
        margin-right: 60px;
        width: 300px;
        height: 500px;
        background-color: rgba(243, 235, 229, 1);
        box-shadow: -20px 12px 30px rgba(0, 6, 39, .2), 12px 12px 24px rgba(0, 6, 39, .1);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        background-image: url('./static/left3.png');

    }

    .courseinfocon .ori {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }


    .left .iconfont {
        font-size: 50px;
        color: #22577E;
    }

    .left .hide {
        display: none;

    }

    .courseinfocon .title {
        font-family: 'font4';
        font-size: 30px;
        margin: 40px 0;
    }

    .courseinfocon .divider {
        height: 2px;
        width: 30px;
        background: #1E3163;
    }

    .courseinfocon .text {
        width: 100px;
        margin: 40px 0;

        color: #889EAF;
    }

    .courseinfocon .functions {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        height: 70px;
        background: white;
        width: 100%;
        border-radius: 0 0 10px 10px;
    }

    .updatecourse,
    .deletecourse {
        line-height: 30px;
        display: block;
        height: 30px;
        border: none;
        margin: 0 30px;
        width: 80px;
        text-align: center;
        background: #00ad2d;
        text-decoration: none;
        color: #04293A;
        border-radius: 30px;
        font-family: 'font4';
        font-size: 13px;
    }

    .updatecourse {
        background: #2D4263;
        color: white;
    }

    .deletecourse {
        background: #EEEBDD;
        color: #2E4C6D;
    }

    .submitcon {
        margin-bottom: 50px;
    }

    .submitcon form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .submitcon form>div,
    .submitcon form .form-group>div {
        margin: 20px 0;
    }

    .createcon form .form-group .subname,
    .createcon form .form-group .subcredit {
        height: 30%;
        margin: 30px 0;

    }

    .submitcon form .form-group .labelname {
        font-family: 'font4';
        font-size: 18px;
        width: 80px;
        display: inline-block;
        text-align: center;
        margin: 0 20px;
        color: #1E3163;
        font-weight: bold;
    }

    .submitcon form .form-group input {
        margin: 0 20px;
        background: none;
        outline: none;
        border: none;
        background: #DBD0C0;
        padding: 10px 20px;
        border-radius: 5px;

    }

    .submitcon form button {
        width: 80%;
        height: 30px;
        line-height: 30px;
        display: inline-block;
        outline: none;
        border: none;
        border-radius: 5px;
        color: white;
        background: #3B3B98;
        font-family: "font4";
        margin-top: 20px;

        font-size: 15px;

    }

    .submitcon form .err-msgs,
    .submitcon form .suc-msgs {

        color: black;
        font-weight: bold;
    }

    .showdelete {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .showdelete .warning {
        color: #852747;
        font-family: 'font4';
        font-size: 25px;
        margin-bottom: 40px;
    }

    .showdelete .options {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }

    .showdelete .options button {
        margin: 0 20px;
        display: block;
        border: none;
        height: 30px;
        line-height: 30px;
        font-size: 15px;
        font-family: 'font4';
        width: 80px;
        border-radius: 20px;


    }

    .showdelete .options .sure {
        color: white;
        background: #C37B89;
    }

    .showdelete .options .cancel {
        color: #192a56;
        background: #C8C6C6;
    }

    .basicinfo {
        display: flex;
        flex-direction: column;
        width: 200px;
       

    }

    .basicinfo>div {
        margin: 30px 0;
        width: 100%;

    }

    .basicinfo>div .subtitle {
        display: flex;
        flex-direction: row;

    }

    .basicinfo>div .subtitle .iconfont {
        font-size: 25px;
        color: #22577E;
        margin: 0 10px;

    }

    .basicinfo>div .subtitle .titletext {
        font-size: 25px;
        font-family: 'font4';
        color: #DEBA9D;
        position: relative;
        z-index: 2;


    }

    .ccreditcon .subtitle .titletext:after {
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 1px;
        height: 40%;
        width: 100%;
        content: '';
        background-color: #9e777725;


    }

    .cscon .subtitle .titletext:after {
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 1px;
        height: 40%;
        width: 100%;
        content: '';
        background-color: #e7e0c975;


    }

    .cscon .errcon,
    .cscon .studentscon {
        padding-left: 20px;
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;


    }

    .cscon .errcon {
        font-family: 'font4';
        font-size: 18px;
        color: #4B6587;

    }

    .cscon .studentscon .eachs {
        font-family: 'font4';
        font-size: 13px;
        color: #F0E5CF;
        margin: 5px;
        text-align: center;
        width: 30%;
        background: #4B6587;
        padding: 10px 5px;
        border-radius: 10px;
    }

    



    






}



@media (min-width:1000px) {

    /*app.js*/
        .nofun{
            font-size: 40px;
            font-family: 'font4';
        }

    .logincontainer{
       
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .loginwrapper{
        padding: 20px 10px;
        width: 400px;
        height: 250px;
        background: #5587763c;
    }
    .loginwrapper form{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .loginwrapper form .form-group{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
   


    .loginwrapper form .form-group .uname,
    .loginwrapper form .form-group .uname {
        width: 90%;
        height: 20%;
        margin: 10px 0;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;


    }

    .loginwrapper form .form-group .labelname {
        font-family: 'font4';
        font-size: 15px;
        width: 25%;
        display: inline-block;
        text-align: center;
        margin: 0 20px;
        color: #1E3163;
        font-weight: bold;
    }

    .loginwrapper form .form-group input {
        width: 40%;
        margin: 0 5px;
        background: none;
        outline: none;
        border: none;
        background: #55877627;
        padding: 10px 5px;
        border-radius: 10px;

    }

    .loginwrapper form button {
        width: 80%;
        height: 30px;
        line-height: 30px;
        display: block;
        outline: none;
        border: none;
        border-radius: 5px;
        color: white;
        background: #3B3B98;
        font-family: "font4";
        margin: 20px 0;
        font-size: 15px;

    }

    .loginwrapper form .err-msgs,
    .loginwrapper form .suc-msgs {

        color: black;
        font-weight: bold;
    }

    .logincontainer form .form-group .utype{
        width: 90%;
        height: 20%;
        margin: 10px 0;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .logincontainer form .form-group .utype .option{
        width: 20%;
        margin: 0 5px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .optionname{
        font-family: 'font4';
        font-size: 15px;
        color: #064635;
    }


    .topconatiner {
        position: relative;

        height: 700px;
        background: url('./static/pic1.png') no-repeat 50% 50%;

    }

    .topconatiner .downblock {
        position: absolute;
        background: rgba(255, 255, 255, 0.6);
        height: 250px;
        width: 700px;
        bottom: 0;
        left: 50%;
        margin-left: -350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .topconatiner .downblock>div {
        margin: 15px 0;

    }

    .topconatiner .downblock .pname {
        font-size: 50px;
        font-family: 'font4';
        color: #192a56;


    }

    .downblock .pperson {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }

    .downblock .per {
        margin: 0 10px;
        font-family: 'font3';
        font-size: 15px;

    }

    .nocourse a {
        text-decoration: none;
        display: block;
        color: #273c75;
        font-size: 15px;
        font-family: 'font4';

    }

    .nocourse,
    .havecourse {
        padding: 10px 20px;
        border: 1px #273c75 solid;

    }

    .havecourse {
        border: none;
        color: #273c75;
        font-size: 15px;
        font-family: 'font4';
        background: #C7B198;

    }


    .midwrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
        border: 1px solid rgba(220, 221, 225, .8);
        width: 70%;
        height: 500px;
        margin: 50px auto;
    }

    .midwrapper>div {
        background: white;
        width: 33.3%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 500px;


    }

    .midwrapper>div .intro {
        width: 40%;
        text-align: center;
        color: rgba(127, 143, 166, .8);

    }

    .midwrapper>div .title {
        font-size: 50px;
        font-family: 'font4';
        color: rgba(64, 115, 158, 1.0);
    }

    .midwrapper>div .func {
        padding: 10px 20px;
        background: rgba(39, 60, 117, 1.0);
    }

    .midwrapper>div .func a {
        display: block;
        color: white;
        font-size: 15px;
        font-family: 'font3';
        background: rgba(39, 60, 117, 1.0);
    }

    .midwrapper>div>div {
        margin: 40px 0;
    }

    .midwrapper .students,
    .midwrapper .classes {
        border-right: 1px solid rgba(220, 221, 225, .8);
    }

    .downcontainer {
        height: 500px;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* background-image: url('./static/pic12.png'); */
        background: #F0ECE3;
    }

    .downcontainer .aboutus {
        font-size: 40px;
        font-family: 'font4';
        color: #C7B198;

    }

    .downcontainer .info {
        width: 30%;
        font-size: 13px;
        line-height: 25px;
        color: #A68DAD;
        margin-top: 40px;


    }


    /*managecourse*/

    

    .cswrapper {
        height: 100vh;
        overflow: hidden;
        margin: 0;
        box-sizing: border-box;
    }

    .mccon {
        padding: 0;
        margin: 0;
        height: 100%;
        position: relative;
        overflow: hidden;
    }
    .mccon .titlecon {
        width: 90vw;
        background: #E1E5EA;
        height: 30%;
        margin: 20px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;

    }

    .mccon .titlecon .nav {

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }


    .mccon .titlecon .title {  
        height: 75%;
        display: flex;
        justify-content: center;
        align-items: center;
       
      
        font-size: 50px;
        font-family: "font4";
        color: #064635;

    }

    .mccon .titlecon .nav .func {
        padding: 10px;
        margin: 0 20px;
    }

    .mccon .titlecon .nav .this {
        border-bottom: 2px solid black;

    }

    .mccon .titlecon .nav .func a {
        display: block;
        color: #2E4C6D;
        font-family: "font4";
        font-size: 18px;
    }

    .mccon .titlecon .nav .this a {
        color: #AE431E;

    }

    

    .submitwrapper {
        height: 50%;
    }

    .createcon {
        margin: 0 auto;
        width: 600px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: relative;

    }

    .createcon form {
        width: 50%;
        background: white;
        box-shadow: -1px -1px 24px rgba(255, 255, 255, .8), 12px 12px 24px rgba(0, 6, 39, .2);
        border-radius: 10px;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        padding: 0 20px;
        overflow: hidden;


    }

    .createcon form .form-group {
        width: 100%;
    }


    .batchupload {
        height: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 10px;
        padding: 20px;



    }

    .batchupload .tips {
        margin: 20px 0;
        font-size: 20px;
        font-family: 'font4';
        color: #C7B198;
    }

    .batchupload .uploadbtn {
        padding: 5px 10px;
        background: #00ad2d;
        border: 1px solid #00ad2d;
        position: relative;
        color: #fff;
        border-radius: 2px;
        text-align: center;
        float: left;
        cursor: pointer;
        border-radius: 10px;
    }

    .batchupload .hide_file {
        position: absolute;
        z-index: 1000;
        opacity: 0;
        cursor: pointer;
        right: 0;
        top: 0;
        height: 100%;
        font-size: 24px;
        width: 100%;

    }


    .createcon form .form-group .subname,
    .createcon form .form-group .subcredit {
        height: 30%;
        margin: 30px 0;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;


    }

    .createcon form .form-group .labelname {
        font-family: 'font4';
        font-size: 15px;
        width: 25%;
        display: inline-block;
        text-align: center;
        margin: 0 20px;
        color: #1E3163;
        font-weight: bold;
    }

    .createcon form .form-group input {
        width: 40%;
        margin: 0 5px;
        background: none;
        outline: none;
        border: none;
        background: #F0ECE3;
        padding: 10px 5px;
        border-radius: 10px;

    }

    .createcon form button {
        width: 80%;
        height: 30px;
        line-height: 30px;
        display: inline-block;
        outline: none;
        border: none;
        border-radius: 5px;
        color: white;
        background: #3B3B98;
        font-family: "font4";
        margin: 20px 0;
        font-size: 15px;

    }

    .createcon form .err-msgs,
    .createcon form .suc-msgs {

        color: black;
        font-weight: bold;
    }

    .mccon .buttomblock {
        width: 100%;
        background: #04293A;
        height: 70px;
        position: absolute;
        bottom: 0;
    }






    /*course*/
    .courses_wrapper {
        height: 100vh;
        overflow: hidden;
        margin: 0;
        box-sizing: border-box;
    }

    .allcoursescon {
        padding: 0;
        margin: 0;
        height: 100%;
        position: relative;
        overflow: hidden;
    }

    .allcoursescon .titlecon .nav {
      
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
       

    }

    .allcoursescon .titlecon .nav .func {
        padding: 10px;
        margin: 0 20px;

    }

    .allcoursescon .titlecon .nav .this {
        border-bottom: 2px solid black;

    }

    .allcoursescon .titlecon .nav .func a {
        display: block;
        color: #2E4C6D;
        font-family: "font4";
        font-size: 18px;
    }

    .allcoursescon .titlecon .nav .this a {
        color: #AE431E;

    }

    .allcoursescon .titlecon {
        width: 90vw;
        background: #E1E5EA;
        height: 30%;
        margin: 20px auto;
        display: flex;
        flex-direction: column;
       
        align-items: center;

    }

    .allcoursescon .allcourses {
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .allcoursescon .titlecon .title {
        font-size: 50px;
        font-family: "font4";
        color: #064635;
        height: 75%;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .allcourses .courseslist {
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        overflow: hidden;


    }

    .allcourses .courseslist .eachcourse {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 10px 20px;
        width: 25%;
        height: 35%;
        background-image: url('./static/ec.png');
        background-size: cover;
        position: relative;
        box-shadow: -12px -12px 24px rgba(255, 255, 255, .8), 12px 12px 24px rgba(0, 6, 39, .1);
        overflow: hidden;
    }


    .allcourses .courseslist .eachcourse .mask {
        position: absolute;
        top: 90px;
        left: 0;
        content: '';
        width: 100%;
        height: 100%;
        background: rgba(101, 101, 101, 0.3);
        opacity: 0;
    }

    .allcourses .courseslist .eachcourse:hover .mask {
        top: 0;
        opacity: 1;
        transition: all 0.3s ease-out;
    }

    .allcourses .courseslist .eachcourse a {

        color: #22577E;
        font-size: 20px;
        font-family: 'font4';
        z-index: 2;
        width: 300px;
        height: 160px;
        display: block;
        line-height: 160PX;


    }

    .allcoursescon .buttomblock {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: #04293A;
        margin-top: 20px;
        height: 70px;
        
    }

    .allcoursescon .pagebox {

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 30px 0;
    }

    .allcoursescon .pagebox>div {
        color: #192a56;
        margin: 0 20px;
        font-size: 20px;
    }

    .allcoursescon  .nocoursecon,
    .mccon  .nocoursecon{
        text-align: center;

    }
    .allcoursescon  .nocoursecon .content .tip,
    .mccon  .nocoursecon .content .tip{
        font-size: 30px;
        font-family: 'font4';
        margin-top: 100px;

    }
   



    /*viewcourse*/
    .topnav {
        height: 10vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        background: white;
        padding: 0 40px;
    }

    .topnav .topblock {
        width: 20px;
        height: 20px;
        background: #22577E;
    }

    .topnav>div {
        margin: 0 30px;
    }

    .topnav>div a {
        display: block;
        text-decoration: none;
        font-family: 'font4';
        color: #273c75;
        font-size: 15px;
        transition: all 0.2s ease-in;
    }

    .topnav>div a:hover {
        color: #AE431E;
    }

    .courseinfowrapper {
        height: 80vh;
        overflow: hidden;
        background: linear-gradient(to right, rgba(230, 218, 206) 0%, rgba(230, 218, 206) 40%, white 40%, white 100%);
    }

    .courseinfocon {
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .courseinfocon .left {
        margin-right: 120px;
        width: 400px;
        height: 500px;
        background-color: rgba(243, 235, 229, 1);
        box-shadow: -20px 12px 30px rgba(0, 6, 39, .2), 12px 12px 24px rgba(0, 6, 39, .1);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        background-image: url('./static/left3.png');

    }

    .courseinfocon .ori {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }


    .left .iconfont {
        font-size: 50px;
        color: #22577E;
    }

    .left .hide {
        display: none;

    }

    .courseinfocon .title {
        font-family: 'font4';
        font-size: 30px;
        margin: 40px 0;
    }

    .courseinfocon .divider {
        height: 2px;
        width: 30px;
        background: #1E3163;
    }

    .courseinfocon .text {
        width: 100px;
        margin: 40px 0;

        color: #889EAF;
    }

    .courseinfocon .functions {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        height: 70px;
        background: white;
        width: 100%;
        border-radius: 0 0 10px 10px;
    }

    .updatecourse,
    .deletecourse {
        line-height: 30px;
        display: block;
        height: 30px;
        border: none;
        margin: 0 30px;
        width: 80px;
        text-align: center;
        background: #00ad2d;
        text-decoration: none;
        color: #04293A;
        border-radius: 30px;
        font-family: 'font4';
        font-size: 13px;
    }

    .updatecourse {
        background: #2D4263;
        color: white;
    }

    .deletecourse {
        background: #EEEBDD;
        color: #2E4C6D;
    }

    .submitcon {
        margin-bottom: 50px;
    }

    .submitcon form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .submitcon form>div,
    .submitcon form .form-group>div {
        margin: 20px 0;
    }

    .createcon form .form-group .subname,
    .createcon form .form-group .subcredit {
        height: 30%;
        margin: 30px 0;

    }

    .submitcon form .form-group .labelname {
        font-family: 'font4';
        font-size: 18px;
        width: 80px;
        display: inline-block;
        text-align: center;
        margin: 0 20px;
        color: #1E3163;
        font-weight: bold;
    }

    .submitcon form .form-group input {
        margin: 0 20px;
        background: none;
        outline: none;
        border: none;
        background: #DBD0C0;
        padding: 10px 20px;
        border-radius: 5px;

    }

    .submitcon form button {
        width: 80%;
        height: 30px;
        line-height: 30px;
        display: inline-block;
        outline: none;
        border: none;
        border-radius: 5px;
        color: white;
        background: #3B3B98;
        font-family: "font4";
        margin-top: 20px;

        font-size: 15px;

    }

    .submitcon form .err-msgs,
    .submitcon form .suc-msgs {

        color: black;
        font-weight: bold;
    }

    .showdelete {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .showdelete .warning {
        color: #852747;
        font-family: 'font4';
        font-size: 25px;
        margin-bottom: 40px;
    }

    .showdelete .options {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }

    .showdelete .options button {
        margin: 0 20px;
        display: block;
        border: none;
        height: 30px;
        line-height: 30px;
        font-size: 15px;
        font-family: 'font4';
        width: 80px;
        border-radius: 20px;


    }

    .showdelete .options .sure {
        color: white;
        background: #C37B89;
    }

    .showdelete .options .cancel {
        color: #192a56;
        background: #C8C6C6;
    }

    .basicinfo {
        display: flex;
        flex-direction: column;
        width: 300px;
       

    }

    .basicinfo>div {
        margin: 30px 0;
        width: 100%;

    }

    .basicinfo>div .subtitle {
        display: flex;
        flex-direction: row;

    }

    .basicinfo>div .subtitle .iconfont {
        font-size: 25px;
        color: #22577E;
        margin: 0 10px;

    }

    .basicinfo>div .subtitle .titletext {
        font-size: 25px;
        font-family: 'font4';
        color: #DEBA9D;
        position: relative;
        z-index: 2;


    }

    .ccreditcon .subtitle .titletext:after {
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 1px;
        height: 40%;
        width: 100%;
        content: '';
        background-color: #9e777725;


    }

    .cscon .subtitle .titletext:after {
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 1px;
        height: 40%;
        width: 100%;
        content: '';
        background-color: #e7e0c975;


    }

    .cscon .errcon,
    .cscon .studentscon {
        padding-left: 20px;
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;


    }

    .cscon .errcon {
        font-family: 'font4';
        font-size: 18px;
        color: #4B6587;

    }

    .cscon .studentscon .eachs {
        font-family: 'font4';
        font-size: 13px;
        color: #F0E5CF;
        margin: 5px;
        text-align: center;
        width: 20%;
        background: #4B6587;
        padding: 10px 5px;
        border-radius: 10px;
    }





    /*manageclass*/
    .cswrapper {
        height: 100vh;
        overflow: hidden;
        margin: 0;
        box-sizing: border-box;
    }

    .classcon .mccon {
        padding: 0;
        margin: 0;
        height: 100%;
        position: relative;
        overflow: hidden;
    }

   .classcon .mccon .titlecon {
      
        background: #f8f8f4;;
       

    }

    

    .classcon .submitwrapper {
        height: 50vh;
    }

    .classcon .createcon {
        margin: 4vh auto;
        width: 600px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        overflow: hidden;
    }

    /* .createcon form {
        background: white;
        box-shadow: 0 0 16px 1px rgb(0 0 0 / 5%);
        border-radius: 10px;
        width: 50vh;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        padding: 0 20px;
        overflow: hidden;
    } */


    .batchupload {
        height: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 10px;
        padding: 20px;



    }

    .batchupload .tips {
        margin: 20px 0;
        font-size: 20px;
        font-family: 'font4';
        color: #C7B198;
    }

    .batchupload .uploadbtn {
        padding: 5px 10px;
        background: #00ad2d;
        border: 1px solid #00ad2d;
        position: relative;
        color: #fff;
        border-radius: 2px;
        text-align: center;
        float: left;
        cursor: pointer;
        border-radius: 10px;
    }

    .batchupload .hide_file {
        position: absolute;
        z-index: 1000;
        opacity: 0;
        cursor: pointer;
        right: 0;
        top: 0;
        height: 100%;
        font-size: 24px;
        width: 100%;

    }


    .createcon form .form-group .subname,
    .createcon form .form-group .subcredit {
        height: 30%;
        margin: 30px 0;

    }

    .createcon form .form-group .labelname {
        font-family: 'font4';
        font-size: 18px;
        width: 80px;
        display: inline-block;
        text-align: center;
        margin: 0 20px;
        color: #1E3163;
        font-weight: bold;
    }

    .createcon form .form-group input {
        margin: 0 20px;
        background: none;
        outline: none;
        border: none;
        background: #F0ECE3;
        padding: 10px 20px;
        border-radius: 10px;

    }

    .classcon .createcon form button {
        width: 60%;
        height: 30px;
        line-height: 30px;
        display: inline-block;
        outline: none;
        border: none;
        border-radius: 5px;
        color: white;
        background: #3B3B98;
        font-family: "font4";
        margin: 20px 0;
        font-size: 15px;

    }

    .createcon form .err-msgs,
    .createcon form .suc-msgs {

        color: black;
        font-weight: bold;
    }

    .mccon .buttomblock {
        width: 100%;
        background: #04293A;
        height: 70px;
        position: absolute;
        bottom: 0;
    }






    /*class*/
    .courses_wrapper {
        height: 100vh;
        overflow: hidden;
        margin: 0;
        box-sizing: border-box;
    }

   

     .allclassescon .titlecon {
       
        background: #f8f8f4;
      

    }

     /* .allclassescon .titlecon .title {
        font-size: 60px;
        font-family: "font4";
        color: #1E3163;
        margin-top: 10vh;
    }

    .allclassescon .titlecon .nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 8px;
    }

    .allclassescon .titlecon .nav .func {
        padding: 10px;
        margin: 0 20px;
    }

    .allclassescon .titlecon .nav .this {
        border-bottom: 4px solid #1f344b;
    }

    .allclassescon .titlecon .nav .func a {
        display: block;
        color: #2E4C6D;
        font-family: "font4";
        font-size: 18px;
    }

    .allclassescon .titlecon .nav .this a {
        color: #2e4c6dd0;
        font-weight: bold;
    } */

    /* .allcoursescon .allcourses {
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    } */



    .allclassescon .allcourses .courseslist {
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        overflow: hidden;
        align-items: center;
    }

    .allclassescon .allcourses .courseslist .eachclass {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0 20px;
        width: 25%;
        height: 35%;
        background-image: url('./static/cla.png');
        background-size: contain;
        position: relative;
        /* background: #fff; */
        box-shadow: 0 0 16px 1px rgb(0 0 0 / 5%);
        overflow: hidden;
    }


    .allcourses .courseslist .eachcourse .mask {
        position: absolute;
        top: 90px;
        left: 0;
        content: '';
        width: 100%;
        height: 100%;
        background: rgba(101, 101, 101, 0.3);
        opacity: 0;
    }

    .allcourses .courseslist .eachcourse:hover .mask {
        top: 0;
        opacity: 1;
        transition: all 0.3s ease-out;
    }

    


    .allcoursescon .pagebox {

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }

    .allcoursescon .pagebox>div {
        color: #192a56;
        margin: 0 20px;
        font-size: 20px;
    }










    /*managestudent*/

    .mscon .titlecon{
        background-color: #57837b64;
    }
    .cscon .form-group {
        margin-top: 50px;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    

    .form-group-up {
        
        background: white;
        box-shadow: -1px -1px 24px rgba(255, 255, 255, .8), 12px 12px 24px rgba(0, 6, 39, .2);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 10px;

    }

    .form-group-up>div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 0px;
    }

    .up-left {
        background: rgba(255, 255, 255, .2);
        border-radius: 10px;
        padding: 20px;
    }

    .up-left>div {
        height: 34px;
        display: flex;
        flex-direction: row;
        width: 95%;
        margin: 10px 0;
    }

    .up-left>div label {
        line-height: 34px;

        font-size: 15px;
        width: 25%;
        display: inline-block;
        text-align: center;
        margin: 0 20px;
        color: #1E3163;
        font-weight: bold;
    }

    .up-left input,
    .up-right input,
    .up-left select {
        width: 30%;
        margin: 0 20px;
   
        outline: none;
        border: none;
        background: #F0ECE3;;
        padding: 10px 20px;
        border-radius: 10px;

    }

    .up-left select {
        width: 43%;
    }

    .up-right {
        /* background: rgba(255, 255, 255, .2); */
        border-radius: 10px;
        padding: 20px;

    }

    .up-right>div label {
        text-align: center;
        font-size: 10px;
        display: inline-block;
        margin: 10px 0;
        color: #1E3163;
        font-weight: bold;
    }

    .up-right .subcourse {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 70%;
        margin-bottom: 10px;
    }

    .up-right tags {
        width: 70%;
    }

    .up-right .nocoursetip {
        background: rgba(255, 255, 255, .2);
        border-radius: 10px;
        padding: 10px;
        text-align: center;
    }

    .up-right .tiptext {
        color: rgba(45, 52, 54, 1.0);
    }

    .up-right a {
        color:#4B6587;
    }
    .form-group-down{
        margin-top: 50px;
    }
    .form-group-down button {
        display: inline-block;
        background: none;
        outline: none;
        border: none;
        border-radius: 5px;
        color: white;
        background: rgba(56, 163, 165, .4);
        background: #3B3B98;
        padding: 10px 100px;
        font-family: "font2";
        margin-top: 20px;
        margin: 10px 0;

    }

    .form-group-down .err-msgs,
    .form-group-down .suc-msgs {
        display: block;
        margin: 0 auto;
        text-align: center;
        color: #3B3B98;
        font-weight: bold;

    }




    /*Student*/
    /* .mscon .allcourses{
   

    } */

    .mscon .courseslist{
        height: 90%;
        display: flex;
        flex-direction: initial;
        justify-content: center;
        align-items: center;      
        overflow: scroll;    
    }

    .mscon .courseslist .eachcourse{
        background: rgba(102, 102, 102, 0.111);
        background-size: cover;
        width: 70%;
        height: 10%;
        box-shadow: none;
        margin: 1px 0;
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        
        
    }
    

    .mscon .courseslist .eachcourse >div{
        font-family: 'font4';
        font-size: 18px;
        color: #22577E;
    }
    /* .mscon .courseslist .eachcourse .ssno{
       flex: 1;
        
    }
    .mscon .courseslist .eachcourse .coursename{
        flex: 2;
         
     }
     .mscon .courseslist .eachcourse .ssex{
        flex: 1;
         
     } */

    



    .mscon .buttomblock{
        height: 20px;
    }
    .mscon .searchstudent{
        outline: none;
        padding: 0 20px;
        display: block;
        margin: 0 auto;
        border: none;
        height: 50px;
        background: #eeeeee85;
        width: 300px;
        

    }






}